<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountRegistration</servlet-name>
        <servlet-class>studentServlet.AccountRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessSubjectRegistration</servlet-name>
        <servlet-class>studentServlet.ProcessSubjectRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentController</servlet-name>
        <servlet-class>controller.StudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectController</servlet-name>
        <servlet-class>controller.SubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherController</servlet-name>
        <servlet-class>controller.TeacherController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountRegistration</servlet-name>
        <url-pattern>/AccountRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessSubjectRegistration</servlet-name>
        <url-pattern>/ProcessSubjectRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentController</servlet-name>
        <url-pattern>/StudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectController</servlet-name>
        <url-pattern>/SubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherController</servlet-name>
        <url-pattern>/TeacherController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
